# Ignore virtual environments
venv/
.env/
.venv/
env/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Ignore logs and debug files
logs/
*.log

# Ignore IDE and editor files
.vscode/
.idea/
*.sublime-workspace

# Ignore dependency files
Pipfile
Pipfile.lock
poetry.lock

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore build and distribution folders
build/
dist/
*.egg-info/

# Ignore system files
.DS_Store
Thumbs.db
